@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.slider_container {
    width: 100%;
    height: 100vh;
    background: url(image/bg-img.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
}

.slider_images {
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider_images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider_img {
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider_img.active {
    width: 766px !important;
    height: 750px !important;
}

.slider_img.active h1 {
    display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
    display: block;
}

.slider_images .slider_img:first-child,
.slider_images .slider_img:last-child {
    height: 480px;
}

.slider_images .slider_img:nth-child(2),
.slider_images .slider_img:nth-child(6) {
    height: 560px;
}

.slider_images .slider_img:nth-child(3),
.slider_images .slider_img:nth-child(4),
.slider_images .slider_img:nth-child(5) {
    height: 665px;
}

h1 {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}

.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2 {
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}